body {
  background-color: #eee;
  margin: 0 auto;
  max-width: 800px;
}

.course {
  background-color: #2a265f;
  color: #fff;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  width: 200px;
}
.course h4 {
  text-transform: uppercase;
}
.app {
  display: flex;
  flex-wrap: wrap;
}

.course-info {
  display: flex;
  justify-content: space-between;
}
